.info{
    display: flex;
    justify-content: center;
}

.info_text p{
    padding: 30px 0;
    text-align: justify;
    max-width: 70%;
    margin: 0 auto;
    text-indent: 1.5em;
}

.info_text h1{
    background: none;
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
}

.part-one{
    padding-bottom: 50px;
}

.part-two{
    background-color: #ededed;
    padding-bottom: 50px;
}
