.container{
    display: flex;
    justify-content: center;
}

.infoText p{
    padding: 10px 0;
    text-align: justify;
    max-width: 90%;
    margin: 0 auto;
    text-indent: 1.5em;
}

.container h2{
    background: none;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 10px 30px 10px;
}

.partOne{
    padding-bottom: 20px;
}

.partTwo{
    padding-bottom: 50px;
}
