.artcorner_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.section-img{
    flex-grow: 1;
    max-width: 400px;
    max-height: 400px;
    margin: 60px;
    object-fit: cover;
    padding: 5px 0;
}
.section-text{
    flex-grow: 2;
    max-width: 700px;
    margin: 16px;
    padding: 5px 0;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 2.2;
    font-size: 16px;
    font-style: italic;
}

.section-list{
    margin: 0 auto;
    width: 80%;
    text-align: justify;
}

