.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding-top: 50px;
    margin: 0 auto;
}

.img{
    flex-grow: 1;
    max-width: 400px;
    max-height: 400px;
    margin: 20px 60px;
    object-fit: cover;
    padding: 5px 0;
}
.text{
    flex-grow: 2;
    max-width: 700px;
    margin: 20px;
    padding: 10px 5px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.2;
    font-style: italic;
}

.list{
    margin: 0 auto;
    width: 80%;
    text-align: justify;
}

.list h2{
    padding: 10px 0 30px 0;
    background: none;
    text-align: center;
    text-transform: uppercase;
}

