footer{
    background-color: #151616; 
    color: #fff;
    padding: 40px 0;
    font-size: 14px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content{
    max-width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section{
    flex: 1;
    text-align: center;
    padding: 14px;
}

.section h3{
    text-transform: uppercase;
    padding: 5px 0;
}

.section p{
    padding: 5px 0;
}

.links{
    flex: 1;
    text-align: center;
    padding: 14px;
}

.links h3{
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 0;
}

.links h3:hover{
    color: #636364;
    transform: translateY(1px);
    transition: .5s;
}

.copyright{
    text-align: center;
    color: #636364;
    font-size: 14px;
    padding: 60px 0 20px 0;
}

@media (max-width: 600px) {
    .content{
        max-width: 40%;
    }
  }
