.gallery_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  padding: 60px 0;
}  

.img-responsive{
  flex: 1;
  width: 300px;
  height: 300px;
  margin: 16px;
  object-fit: cover;
  border-radius: 2px;
}

.img-responsive:hover{
  opacity: .8;
  transition: .5s;
}
