.gallery_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto
}  



.img-responsive{
  flex: 1;
  width: 300px;
  height: 300px;
  margin: 16px;
  object-fit: cover;
}
