.main ul{
    list-style-type: none;
}

nav.main a{
  
    display: inline-block;
    float: right;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    border-bottom: 5px #ededed solid;
}

nav.main a:hover {
    color: #555;
    transform: translateY(6px);
    transition: .5s;
}

nav.main a.active{
    color: #75777c;
    border-bottom: 5px #333 solid;
    transform: translateY(0)
}
