.main{
    position: absolute;
    right: 0;
    width: 100%;
    background-color: rgba(22, 21, 21, 0.6)  ;
    display: flex;
    justify-content: flex-end;

}

.main ul{
    list-style-type: none;
}

nav.main a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px;
    font-size: 22px;
    cursor: pointer;
}

nav.main a:hover {
    color: #555;
    transform: translateY(6px);
    transition: .5s;
    opacity: 1;
}

nav.main a.active{
    color:#d6d4d4;
    border-bottom: 5px #fff solid;
    transform: translateY(0);
    opacity: 1;
}
